/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
hr.style15 {
  border-top: 1px solid #CDCDCD;
  text-align: center;
  width: 40%; }

hr.style15:after {
  content: '\00271A';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #CDCDCD;
  font-size: 24px; }

hr.style18 {
  height: 30px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #CDCDCD;
  border-radius: 20px;
  width: 40%; }

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #CDCDCD;
  border-width: 0 0 1px 0;
  border-radius: 20px; }

section {
  padding: 85px 0; }

.title p {
  padding: 0 20%;
  margin-bottom: 50px; }

.card {
  margin: 0 2%; }

/*******************
	STYLE ASSETS
*******************/
body {
  padding-top: 68px; }

i {
  color: #00b2b7; }

.top-nav.hidden {
  display: none;
  visibility: hidden; }

.owl-theme .owl-nav {
  margin-top: 0; }

/*******************
	STYLE ASSETS
*******************/
/*.hero-vid{
	position: relative;
}

video{
	vertical-align: middle;
}

.hero-vid:before{
	@include vidOverlay();
}*/
.hero-img-1 {
  background-image: url(../assets/img/carousel-1.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-img-1:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hero-img-2 {
  background-image: url(../assets/img/carousel-2.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-img-2:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hero-img-3 {
  background-image: url(../assets/img/carousel-3.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-img-3:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.owl-carousel {
  position: relative; }

.owl-theme .owl-nav {
  background-color: transparent;
  margin-top: 0px; }

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0; }

.owl-next {
  position: absolute;
  top: 50%;
  right: 0; }

.icon {
  background: #756458;
  width: 100px;
  height: 100px; }

i.icon {
  line-height: 100px;
  color: #fff; }

/* CSS Document */
