/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
body {
  padding-top: 68px; }

i {
  color: #00b2b7; }

section {
  padding: 85px 0; }

.material-icons {
  color: #fff; }

.title p {
  padding: 0 20%;
  margin-bottom: 50px; }

.card {
  margin: 0 2%; }

hr.style15 {
  border-top: 1px solid #CDCDCD;
  text-align: center;
  width: 40%; }

hr.style15:after {
  content: '\00271A';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #CDCDCD;
  font-size: 24px; }

hr.style18 {
  height: 30px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #CDCDCD;
  border-radius: 20px;
  width: 40%; }

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #CDCDCD;
  border-width: 0 0 1px 0;
  border-radius: 20px; }

/*******************
	STYLE ASSETS
*******************/
nav {
  background-color: transparent; }

/*******************
	STYLE ASSETS
*******************/
/*.hero-vid{
	position: relative;
}

video{
	vertical-align: middle;
}

.hero-vid:before{
	@include vidOverlay();
}*/
.hero-img-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../assets/img/carousel-1.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-img-2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../assets/img/crossed-hands.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero-img-2 .card {
    position: absolute;
    top: 200px;
    right: 50%; }

.hero-img-3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url(../assets/img/grandparents.jpeg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.owl-carousel {
  position: relative; }

.owl-theme .owl-nav {
  background-color: transparent;
  margin-top: 0px; }

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0; }

.owl-next {
  position: absolute;
  top: 50%;
  right: 0; }

.apply {
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  bottom: 0;
  width: 100%; }

.hero-card {
  background: rgba(0, 0, 0, 0.61);
  color: #fff; }

#quicklook {
  margin-top: -10px; }

.icon {
  background: #756458;
  width: 100px;
  height: 100px; }

i.icon {
  line-height: 100px;
  color: #fff; }

/* CSS Document */
#testimonials {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url(../assets/img/newspaper.jpg);
  position: relative;
  height: 90vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-attachment: fixed; }

#career {
  background: #756458; }
  #career hr.style15:after {
    background: #756458; }

#services {
  background: #fff; }
  #services hr.style15:after {
    background: #fff; }

.footer {
  background: #756458;
  padding: 0;
  color: #fff; }
  .footer p {
    margin-bottom: 0; }
  .footer .copyright {
    background: rgba(255, 255, 255, 0.5); }

.main-footer {
  padding: 40px 0; }
