/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
/*******************
	STYLE ASSETS
*******************/
i {
  color: #00b2b7; }

.main-header {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.contact-header {
  height: 95px;
  line-height: 95px; }

.main-nav {
  height: 80px; }

/*******************
	STYLE ASSETS
*******************/
/*
.hero-vid{
	position: relative;
}

video{
	vertical-align: middle;
}

.hero-vid:before{
	@include vidOverlay();
}
*/
.hero-img {
  position: relative;
  background-image: url(../assets/img/carousel-2.jpg);
  height: 80vh;
  background-attachment: scroll;
  background-color: #00b2b7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-img:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
