/*******************
	STYLE ASSETS
*******************/

// 	Primary Dark
//	#2CA8A9

//	Primary Light
//	#2CA8A9

//	Brown
//	#4B3D34

/*.hero-vid{
	position: relative;
}

video{
	vertical-align: middle;
}

.hero-vid:before{
	@include vidOverlay();
}*/


.hero-img-1{
	background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(../assets/img/carousel-1.jpg);
	@include heroImg();
}

.hero-img-2{
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(../assets/img/crossed-hands.jpg);
	@include heroImg();
	.card{
		position: absolute;
		top: 200px;
		right: 50%;
	}
}

//.hero-img-2:before{
	//@include imgOverlay();
//}

.hero-img-3{
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(../assets/img/grandparents.jpeg);
	@include heroImg();
}

//.hero-img-3:before{
	//@include imgOverlay();
//}

.hero-text{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.owl-carousel{
	position: relative;
}

.owl-theme .owl-nav{
	background-color: transparent;
	margin-top: 0px;
}

.owl-prev{
	position: absolute;
	top: 50%;
	left: 0;
}

.owl-next{
	position: absolute;
	top: 50%;
	right: 0;
}

.apply{
	background: rgba(0,0,0,0.61);
	position: absolute;
	bottom: 0;
	width: 100%;
}

.hero-card{
	background: rgba(0,0,0,0.61);
	color: #fff;
}