/*******************
	STYLE ASSETS
*******************/

// 	Primary Dark
//	#2CA8A9

//	Primary Light
//	#2CA8A9

//	Brown
//	#4B3D34

/*
.hero-vid{
	position: relative;
}

video{
	vertical-align: middle;
}

.hero-vid:before{
	@include vidOverlay();
}
*/

.hero-img{
	position: relative;
	background-image:url(../assets/img/carousel-2.jpg);
	height: 80vh;
	background-attachment: scroll;
	background-color: $brand-dark;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-img:before{
	@include imgOverlay();
}

.hero-text{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}