body{
	padding-top: 68px;
	overflow-x: hidden;
}

i{
	color: $brand-dark;
}

section{
	padding: 85px 0;
}

h1{
	text-transform: uppercase;
}

img{
	overflow: hidden;
}

.material-icons{
	color: #fff;
}

hr.style15 {
	border-top: 1px solid #CDCDCD;
	text-align: center;
	width: 40%;
}
hr.style15:after {
	// content: '\002661';
	content: '\00271A';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fff;
	color: #CDCDCD;
	font-size: 24px;
}

@media (max-width: 768px) {
	.lg-only{
		display: none;
		visibility: hidden;
	}
}
