/*******************
	STYLE ASSETS
*******************/

// 	Primary Dark
//	#2CA8A9

//	Primary Light
//	#2CA8A9

//	Brown
//	#4B3D34

i{
	color: #fff;
}

.contact-header{
	height: 95px;
	color: #fff;
	line-height: 95px;
}

.main-nav{
	height: 80px;
}