/*******************
	STYLE ASSETS
*******************/

// 	Primary Dark
//	#2CA8A9

//	Primary Light
//	#2CA8A9

//	Brown
//	#4B3D34

$brand-dark:	rgba(0,178,183,1);
$brand-brown:	rgba(117,100,88,1);

$brand-font:	"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;