/*******************
	STYLE ASSETS
*******************/

// 	Primary Dark
//	#2CA8A9

//	Primary Light
//	#2CA8A9

//	Brown
//	#4B3D34

$brand-dark:	#2CA8A9;
$brand-light:	#2CA8A9;
$brand-brown:	#4B3D34;